global
    log 127.0.0.1 local0 notice
    user haproxy
    group haproxy
    daemon

defaults
    log global
    mode http
    option httplog
    option dontlognull
    retries 3
    option redispatch
    timeout connect 5000
    timeout client 10000
    timeout server 10000

frontend http-in
    bind *:80

    default_backend webapp

backend webapp
    balance roundrobin
{% for server in backend_server_list %}
    server {{ server.name }} {{ server.ip_address }}:{{ server.port }} check
{% endfor %}

listen stats
    bind *:8080
    mode http
    stats enable
    stats uri /
    stats realm HAProxy\ Statistics
    stats auth haproxy:haproxy