# -----------------------------
# CONNECTIONS AND AUTHENTICATION
# -----------------------------

listen_addresses = {{ listen_address }}
port = {{ postgres_port }}

# --------------------------------
# RESOURCE USAGE (memory and cpu)
# --------------------------------

shared_buffers = 128MB
work_mem = 4MB
maintenance_work_mem = 64MB

# ---------------------------
# WRITE AHEAD LOG (WAL) CONFIG
# ---------------------------

wal_level = replica
max_wal_senders = 10
wal_keep_segments = 10
archive_mode = off

# -------------------------
# QUERY TUNING PARAMETERS
# -------------------------

effective_cache_size = 1GB
random_page_cost = 2.0
effective_io_concurrency = 200
